In [1]:
## Cargar datos
import pandas as pd
df = pd.read_csv('Data/netflix_titles.csv')

In [37]:
## Conectar a servidor local sql ssms
import sqlalchemy as sal
from sqlalchemy.types import NVARCHAR 
from sqlalchemy.dialects.mssql import VARCHAR
cadena_de_coneccion = (
    "mssql://localhost\\SQLEXPRESS/master" 
    "?driver=ODBC+Driver+18+for+SQL+Server"
    "&TrustServerCertificate=yes"
)
engine = sal.create_engine(cadena_de_coneccion)
conn = engine.connect()

C:\Users\carlo\AppData\Local\Temp\ipykernel_7716\4160865228.py:10: SAWarning: Unrecognized server version info '17.0.1000.7'.  Some SQL Server features may not function properly.
  conn = engine.connect()

In [38]:
## Cargar dataset a ssms y cambiar tipos de datos
tipos_sql = {
    'title': NVARCHAR(length=200),
    'show_id': VARCHAR(length=10),
    # Puedes omitir el resto si no tienen caracteres especiales, pero es buena práctica
}
df.to_sql('netflix_raw', con=conn, index = False, if_exists = 'replace', dtype=tipos_sql)
conn.close()

In [22]:
len(df)

8807

In [18]:
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...